

<h2>We played rock!</h2>
  
 <h2>They played 
      <%= @comp_move %>!</h2>   
     
<% if @comp_move == "scissors" %>
   <h2> <%= @win %> </h2>
  <% elsif @comp_move == "paper"  %> 
   <h2> <%= @lose %> </h2>
  <% else %>
    <h2> <%= @tie %> </h2>
 <% end %>
  
<div><a href="/">Rules</a></div>
